/* Richard Davies */
/* Data Science */

/* This is a comment in CSS */

/* This is a 
multi line comment */

/* CSS files can be used to access e.g. fonts 
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@900&display=swap');*/
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Format my paragraph */
p {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

/* Format my heading */
h1 {
	font-family: "Cormorant", serif;
	font-variant: small-caps;
	font-size: 60px;
	color: #320064;
	font-weight: 900;
	margin: 0px 0px 30px 0px;
}
