body { 
  /* General text and layout styling */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;

  /* Background styles */
  background-color: #000000; /* Fallback for browsers not supporting images */
  background-image: url('bg.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */

}

/* Headings */
h1{
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 50px;
}

/* Paragraph */
p {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-weight: 200;
  margin-right: 10%;
}

section {
  margin-bottom: 2.5em;
}

/* Links */
.links {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
  padding: 10px 20px; /* Add spacing from the top and right */
/*  background-color: #0f0045;  Match header background */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #000000;
}
/* Images */
img {
  max-width: 100%;
  height: auto;
}
